/* 
    Document   : item-list
    Created on : Oct 6, 2013, 5:24:26 PM
    Author     : 3piece
    Description:
        Purpose of the stylesheet follows.
*/


h5 {
    text-decoration: none;
    
}
a {    
    text-decoration: none;
}

root { 
    display: block;
}
body
{
    /*Why Does this change the padding on bottom of images?*/
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
line-height: 1.42857;
color: rgb(51, 51, 51);
   // color: #f00;
    /*background:f00*/
}

/*Fonts*/

@font-face {
    font-family: 'homegirlschooledmedium';
    src: url('../../resources/fonts/homegirlschooled/homegirlschooled-webfont.eot');
    src: url('../../resources/fonts/homegirlschooled/homegirlschooled-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../resources/fonts/homegirlschooled/homegirlschooled-webfont.woff') format('woff'),
         url('../../resources/fonts/homegirlschooled/homegirlschooled-webfont.ttf') format('truetype'),
         url('../../resources/fonts/homegirlschooled/homegirlschooled-webfont.svg#homegirlschooledmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font_hgs {
    font-family: 'homegirlschooledmedium';
}

.font_pagination {
    font-size: 30px;
    color: #FFFFFF;
         font-weight: normal;
/*         line-height:1.428571429;*/
         text-align:center;
        white-space:nowrap;
        vertical-align:middle;
}

.pagination{
    background-color: #428bca;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    /*display:inline-block;*/
         padding:6px 0px 6px 0px;
}
.pagination:hover,.pagination:active {
    background-color:#3276b1;
}

.pagination_numbers {
    padding: 1% 2% 1% 2%;
    font-weight: bold;
    text-decoration: none;
    color: #00F;
/*    margin-left: 10px;
    margin-right: 10px;*/
    /*background: #ccc;*/
}
.pagination_numbers_active {
    padding: 1% 2% 1% 2%;
    font-weight: bold;
    text-decoration: none;
    color: #ad62a7;
/*    margin-left: 10px;
    margin-right: 10px;*/
    /*background: #ccc;*/
}
.nodecor {
    text-decoration: none;
}

.del_btn{
    background-color: #f66;
    color: #FFFFFF;
    /*display:inline-block;*/
         padding:6px 0px 6px 0px;
}
.del_btn:hover,.del_btn:active {
    color: #FFFFFF;
    background-color:#f00;
}
/*:link {
    color: #FFFFFF;
}

:active {
    color: #FFFFFF;
}
:visited {
    color: #FFFFFF;
}*/

    

.pag_cen{
    /*background-color: #428bca;*/
    color: #000;
    vertical-align: middle;
    /*display:inline-block;*/
         padding: 6px 0px 6px 0px;
}

.font_title {
    font-size: 80px;
    color: #F6F6F6;
         font-weight: normal;
/*         line-height:1.428571429;*/
         text-align:center;
        /*white-space:nowrap;*/
        vertical-align:middle;
        
       text-shadow: 3px 3px 0 #000, 
           -3px -3px 0 #000, 
           3px -3px 0 #000,
            -3px 3px 0 #000, 
            3px 3px 5px #333;
       
/*       outline-color: #f00;
       outline-width: 5px;*/

/*        
-webkit-text-fill-color: rgba(255, 255, 255, 0.2);
  -moz-text-fill-color: rgba(255, 255, 255, 0.2);
  -ms-text-fill-color: rgba(255, 255, 255, 0.2);
  -o-text-fill-color: rgba(255, 255, 255, 0.2);
  text-fill-color: rgba(255, 255, 255, 0.2);

      -webkit-text-stroke-width: 3px;
  -moz-text-stroke-width: 3px;
  -ms-text-stroke-width: 3px;
  -o-text-stroke-width: 3px;
  text-stroke-width: 3px;

  -webkit-text-stroke-color: #25002A;
  -moz-text-stroke-color: #25002A;
  -ms-text-stroke-color: #25002A;
  -o-text-stroke-color: #25002A;
  text-stroke-color: #25002A;
  
  color: #DFD4E2;*/
  
}

.font_blackish {
    color: #1E1E1E;
}


/*Equal Hieghts code*/
.el_heights_cont {
    overflow: hidden; 
}
.el_heights_col {
    float: left;  width: 33%; margin-bottom: -2000px; padding-bottom: 2000px; 
    /*background: #ccc;*/
}



.container350
{
    max-width:350px;
    /*background:#;*/
    margin:auto;
}

.container600
{
    max-width:600px;
    /*background:#;*/
    margin:auto;
}

/*Container 960 class to hold all items within a max width of 960px*/
.container960
{
    max-width:960px;
    /*background:#;*/
    margin:auto;
}

/*Horizontal Rule*/
hr
{
    max-width:960px;
    /*margin:10px auto;*/
    border:none;
    border-bottom:1px solid #c7c7c7;
    margin-top:1%;
    margin-bottom:1%;
}
.spacer_2p{
    margin-top:2%;
    margin-bottom:2%;    
}

/*Styling*/
/*This is REQUIRED to stop images going over height*/
img{vertical-align:middle}
.img{vertical-align:middle}
/*
    .img
    {
        width: 100%;
        height: 100%;
    }*/

/*Rounded corners of background boxes for categories*/
.icn_rnd_crnr {
    border-radius: 10%; 
    -moz-border-radius: 10%; 
    -webkit-border-radius: 10%; 
}

/*Colour classes*/
/*General colours*/

.color_logo {
    background: #AE7719;
}

.blue
{
    background: #0033ff;
}
.red
{
    background: #F00;
}
.bluegreen
{
    background: #476364;
}
.green
{
    background: #DEF379;
}
.yellow{
    background:#EFD355;
}
.pink{
    background:#FFCDC1;
}
.yellow_light{
    background:#FFFFCC;
}
.brown {
    /*Bear brown*/
    background: #AC7519
}
/*Category Colours*/
/*.catColor-home
{
    background: #f6f6f6;
    background: #FFE680;
}    
.catColor-Eateries
{
    background: #59a2be;
    background: #FFE680;
}
.catColor-Shopping
{
    background: #ad62a7;
    background: #E9AFAF;
}
.catColor-Health
{
    background: #67bf74;
    background: #E5FF80;
}
.catColor-Activities{
    background: #f16364;
    background:#C8BEA7;
}
.catColor-Learning{
    background: #e4c62e;
    background:#99CCFF;
}*/

.catColor-home
{
    background: #f3f3f3;
    /*background: #FFE680;*/
}  
/*.catColor-home:hover
{
    background: #cfcfcf;
    background: #FFE680;
}    */
.catColor-Eateries
{
    background: #bcd9e5;
    /*background: #FFE680;*/
}
/*.catColor-Eateries:hover
{
    background: #59a2be;
    background: #FFE680;
}*/
.catColor_nl-Eateries
{
    background: #59a2be;
    /*background: #FFE680;*/
}
.catColor-Shopping
{
    background: #dec0db;
    /*background: #E9AFAF;*/
}
/*.catColor-Shopping:hover
{
    background: #ad62a7;
    background: #E9AFAF;
}*/
.catColor_nl-Shopping
{
    background: #ad62a7;
    /*background: #E9AFAF;*/
}
.catColor-Health
{
    background: #c2e5c7;
    /*background: #E5FF80;*/
}
/*.catColor-Health:hover
{
    background: #67bf74;
    background: #E5FF80;
}*/
.catColor_nl-Health
{
    background: #67bf74;
    /*background: #E5FF80;*/
}
.catColor-Activities{
    background: #f9c0c1;
    /*background:#C8BEA7;*/
}
/*.catColor-Activities:hover{
    background: #f16364;
    background:#C8BEA7;
}*/
.catColor_nl-Activities{
    background: #f16364;
    /*background:#C8BEA7;*/
}
.catColor-Learning{
    background: #f4e8ab;
    /*background:#99CCFF;*/
}
/*.catColor-Learning:hover{
    background: #e4c62e;
    background:#99CCFF;
}*/
.catColor_nl-Learning{
    background: #e4c62e;
    /*background:#99CCFF;*/
}

/*
.catColor-home
{
    background: #f3f3f3;
    background: #FFE680;
}    
.catColor-Eateries
{
    background: #2ABADC;
    background: #FFE680;
}
.catColor-Shopping
{
    background: #8D85AF;
    background: #E9AFAF;
}
.catColor-Health
{
    background: #91C48E;
    background: #E5FF80;
}
.catColor-Activities{
    background: #E4A5A7;
    background:#C8BEA7;
}
.catColor-Learning{
    background: #E6DAA6;
    background:#99CCFF;
}*/


.actbox_header
    {
        margin-top:1%;
        /*Right,*/ 
        -webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.7);
        box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.7);
    }
    
    .actbox_rollout
    {
        /*margin-top:1%;*/
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
    }
    
.actbox
    {
        margin-top:1%;
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.7);
    }
    .actlink
    {
        color:#000;
    }
/*    .actlink:hover
    {
        color:#f9f9f9;
    }
    .actlink:visited {
        color:#dddddd;
    }*/

/* RESPONSIVE GRID SYSTEM =============================================================================  */

/* IMAGES ============================================================================= */

.img {
    /*border : 0;*/
    max-width: 100%;
    /*height: auto;*/
    width: auto\9; /* ie8 */
    /*height: 100%;*/
    /*max-height: 100%;*/
        /*background: #0f0;*/
}

img {
    /*border : 0;*/
    max-width: 100%;
    /*height: auto;*/
    width: auto\9; /* ie8 */
/*    height: auto;*/
        /*background: #f00;*/
}
/*
img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }*/

/*  GRID OF THREE   ============================================================================= */
    .span_3_of_3 {
        width: 100%; 
    }
    .span_2_of_3 {
        width: 66.13%; 
    }
    .span_1_of_3 {
        width: 32.26%; 
    }
    
    
    /*  GRID OF FIVE   ============================================================================= */
    .span_5_of_5 {
        width: 100%;
    }
    .span_4_of_5 {
        width: 79.68%; 
    }
    .span_3_of_5 {
        width: 59.36%; 
    }
    .span_2_of_5 {
        width: 39.04%;
    }
    .span_1_of_5 {
        width: 18.72%;
    }
    
    /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
    .span_6_of_6 {
        width: 100%;
    }
    .span_5_of_6 {
        width: 83.06%;
    }
    .span_4_of_6 {
        width: 66.13%;
    }
    .span_3_of_6 {
        width: 49.2%;
    }
    .span_2_of_6 {
        width: 32.26%;
    }
    .span_1_of_6 {
        width: 15.33%;
    }
    
    

/*  GRID OF EIGHT   ============================================================================= */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.3%; 
}

.span_6_of_8 {
	width: 74.6%; 
}

.span_5_of_8 {
	width: 61.9%; 
}

.span_4_of_8 {
	width: 49.2%; 
}

.span_3_of_8 {
	width: 36.5%;
}

.span_2_of_8 {
	width: 23.8%; 
}

.span_1_of_8 {
	width: 11.1%; 
}

/*  GRID OF NINE   ============================================================================= */


.span_9_of_9 {
	width: 100%;
}

.span_8_of_9 {
	width: 88.71%;
}

.span_7_of_9 {
	width: 77.42%; 
}

.span_6_of_9 {
	width: 66.13%; 
}

.span_5_of_9 {
	width: 54.84%; 
}

.span_4_of_9 {
	width: 43.55%; 
}

.span_3_of_9 {
	width: 32.26%;
}

.span_2_of_9 {
	width: 20.97%; 
}

.span_1_of_9 {
	width: 9.68%; 
}

/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 90.76%;
}

.span_9_of_11 {
	width: 81.52%;
}

.span_8_of_11 {
	width: 72.29%;
}

.span_7_of_11 {
	width: 63.05%; 
}

.span_6_of_11 {
	width: 53.81%; 
}

.span_5_of_11 {
	width: 44.58%; 
}

.span_4_of_11 {
	width: 35.34%; 
}

.span_3_of_11 {
	width: 26.1%;
}

.span_2_of_11 {
	width: 16.87%; 
}

.span_1_of_11 {
	width: 7.63%; 
}

/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}

.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%; 
}

.span_6_of_12 {
	width: 49.2%; 
}

.span_5_of_12 {
	width: 40.73%; 
}

.span_4_of_12 {
	width: 32.26%; 
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
	width: 15.33%; 
}

.span_1_of_12 {
	width: 6.86%; 
}


/*For the toggle switch*/

label {
	color: transparent;
	background: url(../../resources/images/buttons/flags.png) -40px 0  no-repeat;
	border-radius: 14px;
	box-shadow: 0 1px 2px #888, 0 0px 3px #777, inset 0 -1px 5px #333;
	display: block;
	position: relative;
	text-indent: 100%;
	width: 65px; height: 29px;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	cursor: pointer;
	font-size: .01em;
	float: left;
}

input[type=checkbox] {
	display: none;
}

label span {
	background :url(../../resources/images/buttons/flags.png) -1px -30px no-repeat;
	border: 0px solid transparent;
	border-radius: 14px;
	box-shadow: 0 1px 3px #000, 0 2px 13px #000;
	content: "";
	display: block;
	position: absolute; top: 0; left: -1px;
	width: 28px; height: 28px;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}

input[type=checkbox]:checked + label {
	background-position: 0 0;
}

input[type=checkbox]:checked + label span {
	left: 40px;
}

/*Styles for detail Page*/

h1 , h2 
{
	margin:0px;
	padding:0px;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h5{
    font-size: 16px;
}
p {
  font-size: 14px;
}

#popupbox
{
    
	/*position: fixed;*/
	max-width:600px;
        /*margin: auto;*/
        /*padding: 2%;*/
        
	/*background:#F9F9F9;*/
	/*margin:auto;*/
	/*padding:1%;*/

	
}
.popupbgrnd {
    background-image: url(../../resources/images/bgrnds/alpha_tile_95.png);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
padding: 1%;
}
/*.box1
{
	height:100px;;
	width:100%;
	margin-bottom:2%;
}
.imagebox
{
	width:100px;
	height:100px;
	background:#FFFFFF;
	float:left;
}
.imagebox img
{
	width:100%;
	height:100%;
}
.pricebox
{
	width:30%;
	height:30px;
	float:right;
	position:relative;
	
	
}
.crossbox
{
	width:30px;
	height:30px;
	float:right;
	position:relative;
	top:-40%;
	right:1%;
	z-index:10000;
	
}
.crossbox img
{
	width:100%;
}
.titlebox
{
	width:80%;
	height:35px;
	float:right;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
        margin-bottom: 2%;
	
}
.addbox
{
	width:80%;
	height:40px;
	float:right;
	line-height:40px;
	
}
.desctable
{
	height:100px;;
	width:100%;
	
	margin-bottom:2%;
	margin:0px;
	padding:0px;
border-bottom:1px dotted #CCC;
}
.desctable p
{
	margin:0px;
	padding:0px;
}
hr
{
	color:#CCC;
}*/

.crossbox
{
	width:30px;
	height:30px;
	float:right;
	position:relative;
	top:-40%;
	right:1%;
	z-index:10000;
	
}
.crossbox img
{
	width:100%;
}

.deatil_popup {
    z-index: 10000;
    /*float: left;*/
    position: fixed;
    margin: auto;
    /*top: 5%;*/
    text-align: center;
    /*margin: auto;*/
    /*margin-left: 360px;*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*vertical-align: central;*/
    
}

#overlay {
    background:rgba(0,0,0,0.3);
    display:none;
    width:100%; height:100%;
    position:fixed; top:0; left:0; z-index:1000;
    /*text-align: center;*/
    /*margin: auto;*/
}

/*Styles for the pagination button*/
/*    
    .btn{display:inline-block;
         padding:6px 0px;
         margin-bottom:0;
         font-size:14px;
         font-weight:normal;
         line-height:1.428571429;
         text-align:center;
        white-space:nowrap;
        vertical-align:middle;
        cursor:pointer;
        border:1px solid transparent;
        border-radius:4px;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none}
    .btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
    .btn:hover,.btn:focus{color:#333;text-decoration:none}
    .btn:active,.btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
        .btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}


    .btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}
    .btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#3276b1;border-color:#285e8e}
    .btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}
    .btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}

    .btn-lg{
        padding:10px 0px;
        font-size:18px;line-height:1.33;border-radius:6px}*/

/*And onto the glorious media quries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.font_title {
    font-size: 50px;
    color: #000;
    text-shadow: 2px 2px 0 #000, 
           -2px -2px 0 #000, 
          2px -2px 0 #000,
            -2px 2px 0 #000, 
            2px 2px 3px #333;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.font_title {
    font-size: 40px;
    color: #f00;
    text-shadow: 1px 1px 0 #000, 
           -1px -1px 0 #000, 
          1px -1px 0 #000,
            -1px 1px 0 #000, 
            1px 1px 2px #333;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

.font_title {
    font-size: 50px;
    color: #00F;
    text-shadow: 2px 2px 0 #000, 
           -2px -2px 0 #000, 
          2px -2px 0 #000,
            -2px 2px 0 #000, 
            2px 2px 3px #333;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/*
==============================================
slideDown
==============================================
*/


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
     from {
    max-height: 0px;
}
 to {
    max-height: 1500px;
 }
/*	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		*/
}

@-webkit-keyframes slideDown {
/*    -webkit-transform: scaleY(0);*/
    from {
    /*-webkit-transform: scaleY(0);*/
    max-height: 0px;
}
 to {
     /*-webkit-transform: scaleY(1);*/
    max-height: 1500px;
}

/*	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	*/
}

.child0 {
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	overflow: hidden;
	background-color: #dedede;

	-webkit-transition: -webkit-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
}

.parent0:hover,parent0:active .child0 {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}


.dragdealer {
	position: relative;
        width: 100%;
	/*height: 100px;*/
	background: #EEE;
}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
.dragdealer .red-bar {
	width: 35%;
	height: 100%;
	/*background: #a6a6a6;*/
	color: #FFF;
	/*line-height: 30px;*/
	text-align: center;
}
.dragdealer .disabled {
	background: #898989;
}

/* search form 
-------------------------------------- */
.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
        width: 95%;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);

	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
        width: 75%;
	/*width: 202px;*/
	border: solid 1px #bcbbbb;
	outline: none;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 11px;
	height: 27px;
	width: 27px;
        /*width: 5%;*/
	text-shadow: 0 1px 1px rgba(0,0,0,.6);

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
	
	
	    background-image:url(../../resources/images/buttons/squaremagiconblackback30_1.png);
		  background-position: -2px center;
}
/*
.white_lnk {
    color: #FFFFFF;
}
.white_lnk:link {
    color: #FFFFFF;
}
.white_lnk:active {
    color: #FFFFFF;
}
.white_lnk:visited {
    color: #FFFFFF;
}
.white_lnk:hover {
    color: #FFFFFF;
}*/

.ws_rnd_crnr {
     border-radius: 50%; 
     -moz-border-radius: 50%; 
     -webkit-border-radius: 50%; 
}

.web_button{
    background-color: #808080;
    /*background-color: #428bca;*/
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    /*display:inline-block;*/
         padding:6px 0px 6px 0px;
}
.web_button:hover,.web_button:active {
    background-color:#3276b1;
}
.contactbox_left
{
    text-align: left;
       
/*	width:80%;
	height:40px;
	float:right;
	line-height:40px;*/
}	
.contactbox_right
{
    text-align: right;
}       	
.contactbox_centre
{
    text-align: center;
       	
}
/*.movie-list{border:none !important;}.movie-list .content{border:1px solid #a17935;border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-khtml-border-radius:0 0 20px 20px;-webkit-border-radius:0 0 20px 20px;background:#333333;color:#ffffff;text-align:center;font-size:14px;}.movie-list #dimovie-feed-wrapper{clear:both;border-top:1px solid #a17935;}.movie-list #dimovie-feed-wrapper .feed-content .feed-item h5{margin:0;padding:0;}.movie-list #dimovie-feed-wrapper .feed-content .feed-item{padding:5px 10px;}.movie-list #dimovie-feed-wrapper .feed-content .feed-item:nth-child(2n+1){background:#333333;}.movie-list #dimovie-feed-wrapper .feed-content .feed-item:nth-child(2n){background:#454444;}.movie-list #dimovie-feed-wrapper .feed-content{text-align:left;}.movie-list #dimovie-feed-wrapper .feed-page-navigation{padding-top:0px;}.movie-list #dimovie-feed-wrapper .feed-page-navigation .feed-page.active-page{color:#a17935;}.movie-list #dimovie-feed-headers{margin-top:-17px;}.movie-list #dimovie-feed-headers .feed-header:hover{background:#a17935;}.movie-list #dimovie-feed-headers .feed-header{float:left;padding:2px 5px;height:21px;line-height:20px;width:104px;text-align:center;}.movie-list #dimovie-feed-headers .feed-header.active-tab{background:#a17935;}.movie-list .footprint{font-style:italic;margin-bottom:5px;}*/
/*DiMovies Styles*/
.movie-box {
    border-radius: 10px 10px 0 0;
-khtml-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;

    /*border: 5px solid #2C2C2C;*/
    /*    border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;*/
}
.dimovie-titlebox {
    /*color: #AC7519;*/
    color: #2C2C2C;
    background: #f16364;
    
  /*background: #f9c0c1;*/
    /*background: #F4E8AB;*/
    /*background: #EFD355;*/
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    padding: 4px;
    /*border-bottom: 1px solid #AC7519;*/
    border-bottom: 1px solid #2C2C2C;
    border-left: 5px solid #2C2C2C;
    border-right: 5px solid #2C2C2C;
    border-top: 5px solid #2C2C2C;
}
#dimovie-feed-headers .feed-header{
	cursor:pointer;
	display:inline-block;
	padding:2px;
    color: #2C2C2C;
    /*background: #f16364;*/
    
  background: #f9c0c1;
        /*background: #F4E8AB;  brown */
        /*background: #AC7519;  brown */
        width: 47%;
}
#dimovie-feed-headers .feed-header.active-tab{
    /*Headers, i.e. coming sooon*/
	font-weight:bold;
        
    /*color: #2C2C2C;*/
        color: #F4E8AB; /*Yellow*/
    background: #f16364;
    
  /*background: #f9c0c1;*/
        /*color: #AC7519; bROWN*/
        /*color: #AC7519; Light Yellow*/
        /*background: #F4E8AB; Light Yellow*/
        /*background: #EFD355; Yellow*/
        /*border: 1px solid #000;*/
         /*#A17935;*/
}
#dimovie-feed-headers{
    /*Headers, i.e. coming sooon*/
    
  background: #f9c0c1;
        /*background: #AC7519; Brown*/
    /*border-left: 5px solid #f16364;*/
    /*border-right: 5px solid #f16364;*/
    border-left: 5px solid #2C2C2C;
    border-right: 5px solid #2C2C2C;
        /*border-bottom: 1px solid #EFD355;*/
        border-bottom: 1px solid #2C2C2C;
        text-align: center;
         /*#A17935;*/
}
#dimovie-feed-headers a{
    /*Headers, i.e. coming sooon*/
	/*font-weight:bold;*/
        background: #000; /*Yellow*/
        /*border: 1px solid #EFD355;*/
         /*#A17935;*/
}
/*#dimovie-feed-headers .feed-header a{
        background: #f3f3f3;
}
#dimovie-feed-wrapper .content{
        background: #f3f3f3;
}*/
#dimovie-feed-wrapper .feed-page-navigation {
    /*Pagination*/
	padding-top:10px;
        border-top: 1px solid #2C2C2C;
        /*border-top: 1px solid #EFD355;*/
    border-left: 5px solid #2C2C2C;
    border-right: 5px solid #2C2C2C;
    border-bottom: 5px solid #2C2C2C;
        /*color: #EFD355;*/
        text-align: center;
        /*background: #000;*/
        
    color: #2C2C2C;
    background: #f16364;
}
#dimovie-feed-wrapper .feed-page-navigation .feed-page{
    /*Pagination*/
	padding:5px;
	cursor:pointer;
}
#dimovie-feed-wrapper .feed-page-navigation .feed-page.active-page{
    /*Pagination - Active Page*/
    text-decoration: none;
	font-weight:bold;
        color: #F4E8AB;
}
.feed-item {
    text-transform:lowercase;
    /*text-transform:none;*/
    text-transform:capitalize;
    color: #2C2C2C;
    background: #f3f3f3;
    /*background: #2C2C2C;*/
    padding-left: 5px;
    /*border-left: 5px solid #f16364;*/
    /*border-right: 5px solid #f16364;*/
    border-left: 5px solid #2C2C2C;
    border-right: 5px solid #2C2C2C;
    /*font-weight: normal;*/
    /*background: #ac894e;*/
    /*background: #ac894e;*/
    /*background: #f3f3f3;*/
    /*background: #AC7519;*/
        /*height: 10px;*/
}
.feed-item:nth-child(even){
    /*font-weight: normal;*/
    
/*    color: #2C2C2C;
    background: #f16364;*/
    
  /*background: #f9c0c1;*/
    /*background: #ac9570;*/
    /*background: #454444;;*/
    color: #2C2C2C;
    background: #d3d3d3;
    /*background: #ac894e; Brown*/
    /*background: #f3f3f3;*/
    /*background: #AC7519;*/
        /*height: 10px;*/
}
.feed-item-title a{
    font-weight: normal;
    text-decoration: none;
    color: #EFD355;
    color: #2C2C2C;
    /*background: #f3f3f3;*/
    /*background: #AC7519;*/
	padding:2px;
        /*height: 10px;*/
}
.feed-item-title a:visited{
    text-decoration: none;
/*    color: #F4E8AB;
    color: #2C2C2C;*/
    color: #ad62a7;
    /*background: #000;*/
	/*padding:2px;*/
}
/*.feed-content:nth-child(odd)  {
    text-decoration: none;
    color: #AC7519;
    color: #2C2C2C;
}
.feed-content:nth-child(even) {
    text-decoration: none;
    background: #000;
}*/
/*.movie-list{
    background: #000;
}*/

/*.feed-header.active-tab {
        background: #EFD355; Yellow
    background: #A17935;
}*/
.feed-item-title {
    
}

h5 {
    padding: 2px;       
}
#dimovie-feeds .movie-box {
    border-radius: 20px 20px 0 0;
-khtml-border-radius: 20px 20px 0 0;
-moz-border-radius: 20px 20px 0 0;
-webkit-border-radius: 20px 20px 0 0;
    
}


.bubble
{
position: relative;
/*width: 200%;*/
//height: 100%;
padding: 3px;
background: #FEF2D4;
//background: #E0CB94;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
border: #7F7F7F solid 3px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 0 16px 15px;
border-color: transparent #FEF2D4;
display: block;
width: 0;
z-index: 1;
margin-top: -16px;
right: -15px;
top: 50%;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 0 18px 17px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -18px;
right: -20px;
top: 50%;
}