/* 
    Document   : kidzsaigon common css
    Created on : Nov 10, 2013, 5:24:26 PM
    Author     : son
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    /*Why Does this change the padding on bottom of images?*/
    font-family:Arial, Helvetica, sans-serif;
    /*color: #f00;*/
    /*background:f00*/
}


h3 {
    font-size: 24px;
}

input.error {background-color: pink; border: 1px dashed red; color: white}

.display-error {
  width: 100%;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(255, 249, 242);
  color: #f00;
  text-align: left;
}

.display-error span {
  float: left;
}

.display-success {
  width: 100%;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(236, 255, 216);
  color: green;
  text-align: left;
}

.display-success img {
  position: relative;
  bottom: 5px;
}
